@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    max-height: 100vh;
}

body, .sidebar{
    overflow: hidden;
}

.body{
    height: 100vh;
    background-image: url(./img/cover2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 0.5vw 2vw;
}

.sidebar{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    align-items: flex-start;
    background-color: whitesmoke;
    padding: 50px 40px;
    z-index: 10;
    font-size: 14px;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}

.cross-btn img{
    rotate: 0deg;
    transition: 0.2s;
}

.cross-btn img:hover{
    cursor: pointer;
    rotate: 90deg;
}

.slideIn{
    animation: slideIn 0.5s 1 forwards;
    transform: translateX(0px);
}

.slideOut{
    animation: slideOut 0.5s 1 forwards;
    overflow: hidden;
}

@keyframes slideIn{
    0%{
        transform: translateX(400px);
        filter: opacity(0);
    }

    100%{
        transform: translateX(0);
        filter: opacity(100%);
    }
}

@keyframes slideOut{
    0%{
        transform: translateX(0);
        filter: opacity(100%);
    }

    100%{
        transform: translateX(400px);
        filter: opacity(0);
    }
}

.blur{
    animation: blur 0.5s 1 forwards;
}

.noBlur{
    animation: noblur 0.5s 1 forwards;
}

@keyframes blur {
    0%{
        transform: scale(1);

        filter: blur(0px);
    }

    100%{
        filter: blur(8px);
        transform: scale(1.1);

    }
}

@keyframes noblur {
    0%{
        filter: blur(8px);
        transform: scale(1.1);

    }

    100%{
        filter: blur(0px);
        transform: scale(1);

    }
}




.sidebar ul{
    display: flex;
    margin-bottom: 150px;
    align-items: flex-start;
    flex-direction: column;
    color: black;
    list-style: none;
    gap: 10px;
    font-weight: 500;
}

.sidebar ul li {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    transition: 0.5s;

}

.sidebar ul li:hover{
    background-color: rgba(114, 114, 114, 0.2);
}

.main-nav{
    display: flex;
    justify-content: space-between;
    padding: 0.3vw 2vw;
    /* border: 2px solid blue; */
    height: 60px;
    background-color: transparent;
    font-size: 15px;
}

.main-nav ul{
    display: flex;
    gap: 1.8vw;
    align-items: center;
    list-style: none;
    font-weight: 700;
    /* border: 2px solid green; */
}

.main-nav ul li{
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.8s;
}

.main-nav ul li:hover{
    background-color: rgba(114, 114, 114, 0.2);
}

.user-options{
    flex: 1;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.logo-container{
    display: flex;
    align-items: center;
    min-width: 0;
    flex: 1;
    justify-content: flex-start;
}


.logo{
    height: 15px;
    object-fit: cover;
    cursor: pointer;
}


.content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2vw 0;
    padding: 1vw 0;
    height: 100%;
}

.banner-txt{
    text-align: center;
    font-size: 28px;
}

.banner-txt p{
    font-size: 22px;
    margin-top: 0.5vw;
    font-weight: 500;
}

.btn-container{
    display: flex;
    gap: 1.2vw;
}

.btn-container button{
    width: 250px;
    height: 42px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.bottom-items{
    margin-bottom: 20px;
}


#custon-order-btn{
    background-color: rgb(36, 36, 36);
    color: whitesmoke;
}

#demo-drive-btn{
    background-color: whitesmoke;
    color: rgb(36, 36, 36);
    
}

.arrow{
    color: whitesmoke;
    display: block;
    margin: 1vw auto;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes bounce {
    
    0%{
        transform: translateY(0);
    }

    20%{
        transform: translateY(0.4vw);
    }

    32%{
        transform: translateY(0);
    }

    38%{
        transform: translateY(0.3vw);
    }

    43%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(0);
    }
}

@media screen and (max-width: 760px){
   

}


@media screen and (max-width: 760px) {
    .btn-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .btn-container button{
        width: 90vw;
    }

    .
  }